<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <p>
    Maximum eyes that the die may show.
  </p>

  <input #slider type="range" min="2" max="9" value="6" (input)="setMaxEyes(slider.value)" />
  <input class="short" type="number" readonly value="{{slider.value}}"/>

  <p>
    <button class="btn btn-primary btn-lg" (click)="roll()">Roll!</button>
  </p>
  <app-die [maxValue]="6"></app-die>
  <p *ngIf="throws>0">That amounts to {{ total }}, over {{ throws }} throws.</p>
  <app-version [versionnr]="version"></app-version>
</div>
